In [19]:
!pip install pandas 
%pip install your_file

Requirement already satisfied: pandas in c:\users\91994\desktop\searchshield\searchshield\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\91994\desktop\searchshield\searchshield\.venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91994\desktop\searchshield\searchshield\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\91994\desktop\searchshield\searchshield\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\91994\desktop\searchshield\searchshield\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\91994\desktop\searchshield\searchshield\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement your_file (from versions: none)
ERROR: No matching distribution found for your_file

In [12]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [22]:
import sys
sys.path.append("Train.csv")
import './Train.csv'

SyntaxError: invalid syntax (2369601967.py, line 3)

In [15]:
train_data = pd.read_csv("Train.csv")
train_data.head(10)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xaf in position 12: invalid start byte

In [3]:
train_data.describe()

,ID,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Own_House_Age,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Score_Source_1,Score_Source_2,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
count,9.748400e+04,94598.000000,94575.000000,94572.000000,94594.000000,94543.000000,33403.000000,97484.000000,97484.000000,97484.000000,95549.000000,95562.000000,95529.000000,94576.000000,42488.000000,93005.000000,47888.000000,94518.000000,82636.000000,97484.000000
mean,1.216094e+07,0.342957,0.332339,0.497970,0.692761,0.418254,12.189624,0.999990,0.199838,0.280969,2.154622,2.029918,3.159596,12.068495,0.501695,0.519327,0.117241,962.559491,1.886514,0.080444
std,3.517269e+04,0.474700,0.471054,0.499999,0.461352,0.728858,12.067676,0.003203,0.399880,0.449475,0.914385,0.505218,1.758808,3.279279,0.211250,0.754196,0.107427,828.256939,1.858906,0.271981
min,1.210000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.017177,0.000005,0.000000,0.000000,0.000000,0.000000
25%,1.213056e+07,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.334253,0.391295,0.057700,271.000000,0.000000,0.000000
50%,1.216091e+07,0.000000,0.000000,0.000000,1.000000,0.000000,9.000000,1.000000,0.000000,0.000000,2.000000,2.000000,3.000000,12.000000,0.504723,0.565564,0.088700,756.000000,1.000000,0.000000
75%,1.219140e+07,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,1.000000,0.000000,1.000000,3.000000,2.000000,5.000000,14.000000,0.674280,0.664237,0.148500,1571.000000,3.000000,0.000000
max,1.222186e+07,1.000000,1.000000,1.000000,1.000000,19.000000,65.000000,1.000000,1.000000,1.000000,16.000000,3.000000,6.000000,23.000000,0.945741,100.000000,1.000000,4185.000000,22.000000,1.000000

In [4]:
tes=train_data.loc[train_data.Default<1]
tes1=tes.loc[tes.Default>0]
tes1

Empty DataFrame
Columns: [ID, Client_Income, Car_Owned, Bike_Owned, Active_Loan, House_Own, Child_Count, Credit_Amount, Loan_Annuity, Accompany_Client, Client_Income_Type, Client_Education, Client_Marital_Status, Client_Gender, Loan_Contract_Type, Client_Housing_Type, Population_Region_Relative, Age_Days, Employed_Days, Registration_Days, ID_Days, Own_House_Age, Mobile_Tag, Homephone_Tag, Workphone_Working, Client_Occupation, Client_Family_Members, Cleint_City_Rating, Application_Process_Day, Application_Process_Hour, Client_Permanent_Match_Tag, Client_Contact_Work_Tag, Type_Organization, Score_Source_1, Score_Source_2, Score_Source_3, Social_Circle_Default, Phone_Change, Credit_Bureau, Default]
Index: []

[0 rows x 40 columns]

In [5]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [6]:
test_data = pd.read_csv('/kaggle/input/ml-league-assignment-1/Train.csv/Train.csv')

/tmp/ipykernel_18/3856367640.py:1: DtypeWarning: Columns (1,7,16,35) have mixed types. Specify dtype option on import or set low_memory=False.
  test_data = pd.read_csv('/kaggle/input/ml-league-assignment-1/Train.csv/Train.csv')

In [7]:
test_data.head(100)

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12196907,14400,1.0,0.0,0.0,0.0,2.0,94230,2498.4,Alone,...,Yes,No,NaN,0.621609,0.412046,0.332851,0.0773,2.0,0.0,0
1,12117159,11250,0.0,0.0,1.0,1.0,0.0,NaN,NaN,Alone,...,Yes,Yes,XNA,NaN,0.627336,0.771362,NaN,257.0,0.0,0
2,12220305,NaN,0.0,0.0,0.0,0.0,2.0,15331.05,1102.95,Alone,...,Yes,Yes,Military,NaN,0.605365,0.778904,NaN,479.0,2.0,0
3,12129262,18000,1.0,0.0,0.0,0.0,0.0,59590.35,2879.55,Alone,...,Yes,Yes,Self-employed,NaN,0.653899,0.52989,0.1546,2295.0,3.0,0
4,12104552,12825,1.0,0.0,1.0,1.0,0.0,73001.7,3740.4,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.468391,0.743559,0.0742,NaN,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12209381,13500,1.0,1.0,1.0,0.0,2.0,122301,5194.8,Alone,...,Yes,Yes,Government,NaN,0.588726,0.692559,NaN,0.0,4.0,0
96,12101803,11250,0.0,1.0,1.0,1.0,0.0,50849.55,2446.2,Alone,...,No,Yes,Trade: type 1,0.335403,0.559941,0.720944,NaN,794.0,1.0,0
97,12144493,13500,0.0,0.0,1.0,1.0,NaN,73331.55,3919.95,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.647308,0.450747,0.4562,0.0,4.0,0
98,12140736,9000,0.0,0.0,0.0,1.0,2.0,28526.4,3008.25,Alone,...,Yes,Yes,Government,NaN,0.232707,0.689479,NaN,329.0,3.0,0
99,12172873,11700,0.0,0.0,0.0,1.0,0.0,15282,1524.15,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.589271,0.732403,0.0825,433.0,1.0,0

In [8]:
y=train_data.Default
tes=train_data.loc[train_data.Default==1]
tes

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
11,12151642,18450,0.0,0.0,1.0,1.0,0.0,13500,675,Alone,...,Yes,No,Business Entity Type 3,NaN,0.434225,0.612704,0.0402,2222.0,3.0,1
30,12107807,9000,0.0,1.0,1.0,0.0,0.0,31276.8,2115.45,Alone,...,No,No,Business Entity Type 3,0.239468,0.019850,NaN,NaN,379.0,NaN,1
31,12151575,17550,0.0,1.0,0.0,1.0,1.0,45000,2310.75,Alone,...,Yes,Yes,Postal,NaN,0.601157,0.375711,NaN,1151.0,2.0,1
38,12197466,22500,0.0,0.0,0.0,0.0,0.0,90000,2426.4,Alone,...,Yes,Yes,XNA,NaN,0.231888,NaN,0.1701,0.0,NaN,1
42,12145074,7650,0.0,0.0,0.0,1.0,0.0,16173,697.95,Alone,...,Yes,Yes,XNA,NaN,0.281782,0.567379,0.0247,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97442,12142936,17100,0.0,0.0,0.0,1.0,0.0,102705.75,4351.5,Alone,...,Yes,Yes,XNA,NaN,0.628062,0.636376,NaN,2844.0,1.0,1
97443,12117046,13500,1.0,0.0,1.0,1.0,3.0,65160,3999.15,Alone,...,Yes,No,Business Entity Type 3,0.353083,0.430843,0.617826,NaN,660.0,2.0,1
97447,12196808,15750,0.0,0.0,0.0,1.0,1.0,29628,1812.6,Alone,...,Yes,Yes,Business Entity Type 3,0.266131,0.477243,NaN,0.0082,777.0,1.0,1
97460,12156253,15750,0.0,0.0,0.0,1.0,2.0,86850,3089.7,Alone,...,Yes,No,Medicine,NaN,0.549208,0.258084,NaN,12.0,1.0,1
97482,12185161,13500,0.0,0.0,1.0,0.0,1.0,107820,3165.3,Alone,...,Yes,Yes,Self-employed,0.617342,0.185667,0.631355,0.0773,2944.0,0.0,1

In [9]:
selectfeature = ['Client_Income', 'Car_Owned', 'Bike_Owned','Active_Loan','House_Own','Child_Count','Credit_Amount','Loan_Annuity']

train_data[selectfeature] = train_data[selectfeature].apply(pd.to_numeric, errors='coerce')
medians = train_data[selectfeature].mean()
train_data[selectfeature] = train_data[selectfeature].fillna(medians)
X=train_data[selectfeature]
X

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity
0,14400.000000,1.0,0.000000,0.0,0.0,2.0,94230.00000,2498.400000
1,11250.000000,0.0,0.000000,1.0,1.0,0.0,60100.25224,2723.324473
2,16865.862496,0.0,0.000000,0.0,0.0,2.0,15331.05000,1102.950000
3,18000.000000,1.0,0.000000,0.0,0.0,0.0,59590.35000,2879.550000
4,12825.000000,1.0,0.000000,1.0,1.0,0.0,73001.70000,3740.400000
...,...,...,...,...,...,...,...,...
97479,13500.000000,1.0,0.000000,1.0,1.0,0.0,36000.00000,2619.450000
97480,13500.000000,0.0,1.000000,0.0,0.0,0.0,128250.00000,3526.650000
97481,7425.000000,0.0,0.000000,1.0,1.0,0.0,78192.00000,2541.150000
97482,13500.000000,0.0,0.000000,1.0,0.0,1.0,107820.00000,3165.300000
97483,22500.000000,1.0,0.332339,1.0,0.0,0.0,47849.85000,5153.400000

In [10]:
pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('model', RandomForestClassifier())
])

In [11]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

In [12]:
tes=y_train.loc[y_train==1]
tes

62715    1
94801    1
6875     1
91803    1
68488    1
        ..
11723    1
24675    1
93005    1
52620    1
80966    1
Name: Default, Length: 5524, dtype: int64

In [13]:
predictions = pd.DataFrame({'ID': X_test.index, 'Default': y_pred})
predictions=predictions.loc[predictions.Default==1]
predictions

          ID  Default
6      20526        1
15     17273        1
41     86074        1
175    36201        1
223    63088        1
...      ...      ...
29075  30888        1
29162  93275        1
29178   1681        1
29209   9922        1
29224  73574        1

[388 rows x 2 columns]

In [14]:
f1 = f1_score(y_test, y_pred)
print('F1_Score:', f1)

F1_Score: 0.15373244641537323

In [15]:
tes=y_pred.loc[y_pred==1]
tes

AttributeError: 'numpy.ndarray' object has no attribute 'loc'

In [ ]:
print(X_train.index)

In [ ]:
predictions = pd.DataFrame({'ID': X_train.index, 'Default': y_train})
predictions

In [ ]:
test_data=pd.read_csv('/kaggle/input/ml-league-assignment-1/Test.csv/Test.csv', index_col=0)
test_data

In [ ]:
select_features = ['Client_Income', 'Car_Owned', 'Bike_Owned','Active_Loan','House_Own','Child_Count','Credit_Amount','Loan_Annuity']
test_data[selectfeature] = test_data[selectfeature].apply(pd.to_numeric, errors='coerce')
medians = test_data[selectfeature].median()
test_data[selectfeature] = test_data[selectfeature].fillna(medians)
new_X=test_data[selectfeature]
new_X

In [ ]:
new_Y=pipeline.predict(new_X)
new_Y

In [ ]:
predict = pd.DataFrame({'ID': new_X.index, 'Default': new_Y})
predict.head()

In [ ]:
predict.to_csv('231IT068-Assigment-1.csv', index=False)
predict.columns = ['ID','Default']

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(X_train, y_train)
    preds_val = model.predict(X_test)
    mae = mean_absolute_error(y_test, preds_val)
    return(mae)

candidate_max_leaf_nodes = [5, 25, 50, 75, 100, 150, 250, 300, 350, 395, 400, 410, 450 ,500, 550, 600]
best=get_mae(5, X_train, X_test, y_train, y_test)
best_tree_size = 5

# Write loop to find the ideal tree size from candidate_max_leaf_nodes
for size in candidate_max_leaf_nodes:
    b=get_mae(size, X_train, X_test, y_train, y_test)
    if (b<best):
        best_tree_size = size
        best=b
        
print(best_tree_size)

In [ ]:
model = DecisionTreeRegressor(max_leaf_nodes=400, random_state=0)
model.fit(X, y)
predicted_val = model.predict(new_X)
predicted_val

In [ ]:
new_Y=pipeline.predict(new_X)
new_Y

In [ ]:
predict = pd.DataFrame({'ID': new_X.index, 'Default': new_Y})
predict.head()
predict.to_csv('231IT068-Assigment-1.csv', index=False)
predict.columns = ['ID','Default']

In [ ]:
f1 = f1_score(y_test, preds_val)
print('F1_Score:', f1)

In [ ]:
   model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(X_train, y_train)
    preds_val = model.predict(X_test)